
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');
:root{
    --green: #8ac926;
    --yellow: #ffca3a;
    --yellowshadow: #c49a27;
    --orange: #ff595e;   
    --lightBlue: #07bdff;
    --pink: #fe51b0;
    --lila: #e2c1f3;

 
    --1: #eab0fc;
    --2: #aa4ff6;
    --3: #8d39ec;
    --4: #7827e6;
/*
    font
    --1: #BDD358;
    --2: #b79cec;
    --3: #6f5de7;
 */
    --font2:'Cabin', sans-serif
}
 
body{

    background: white;
   /* background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(234,176,252,1) 71%, rgba(170,79,246,1) 100%);
    */
}